<div class="container">
  <div class="row">
    <div class="col-xl-7 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-0 offset-1">
      <h3 id="cabecera">UNAI SIMÓN</h3>
      <p class="unai">
        Portero nacido y criado en Lezama, hoy en día es el titular indiscutible para el seleccionador
        de la selección española, Luis Enrique, para que ocupe la portería.
        Actualmente se encuentra en el equipo ,Athletic Club de Bilbao, teniendo su puesto fijo en
        la portería
      </p>
    </div>
    <div class="col-xl-5  offset-xl-0 offset-lg-3 offset-md-2 offset-sm-1 offset-1">
        <img src="https://cdn.ondavasca.com/unai-simon-mejor-athletic-villarreal.jpg" width="500" height="300">
      </div>
  </div>
  <div class="row">
    <div class="col-xl-5 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-0 offset-1">
      <img src="https://cadenaser00.epimg.net/ser/imagenes/2021/05/28/deportes/1622217432_942081_1622217539_noticia_normal.jpg" width="500" height="300">
    </div>
    <div class="col-xl-7 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-0 offset-1">
      <h3 id="cabecera">ASIER VILLALIBRE</h3>
      <p class="villalibre">
        Delantero centro, que al igual que Unai Simón ha sido criado en Lezama, este jugador ha estado
        previamente en el Real Valladolid, pero actualmente juega en el Athletic y que cuenta con
        un futuro prometedor
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-7 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-0 offset-1">
      <h3 id="cabecera1">IKER MUNIAIN</h3>
      <p class="muniain">
      Es el icono de Lezama, jugador del Athletic de pies a cabeza, es el rey león de San Mamés y
      lleva desde que salió de la cantera en el Athletic y su carrera acabará en este equipo, este jugador
      es un ejemplo de lealtad y cariño a un club
      </p>
    </div>
    <div class="col-xl-5 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-0 offset-1">
      <img src="https://www.larazon.es/resizer/I83oFxoyOK5LSO4unIwK7aUJWmI=/840x0/smart/filters:format(jpg)/cloudfront-eu-central-1.images.arcpublishing.com/larazon/RUYQXVCYXZHMBMVKYFBZAWDD5M.jpg" width="500" height="300">
    </div>
  </div>
</div>
